* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  list-style: none;
}
body {
  max-width: 65%;
  margin: auto;
}
table,
th,
tr,
td {
  border-spacing: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
nav .nav-icons {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.nav-icons span i {
  cursor: pointer;
}
.resume {
  width: 100%;
  height: auto;
}
.top {
  background-color: #4989dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.top .btn {
  margin: 10px 0;
}
.top .btn button {
  background-color: whitesmoke;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.top .btn .hire-me {
  background-color: gray;
  color: white;
}
.top img {
  position: absolute;
  width: 150px;
  border: 5px solid white;
  bottom: -20px;
  left: 4rem;
}
.top .content {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(-50px);
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
  padding-top: 3rem;
}

.about .details table tr td:nth-child(1) {
  padding-right: 40px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #3f3f3f;
}
.professional {
  padding: 2rem;
}
.professional h1 {
  margin: 10px 0;
}

.professional-skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  gap: 20px;
}

.skill .bar-line {
  position: relative;
  width: 100%;
  background-color: #bdb8b8;
  height: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.skill .bar-line span {
  position: absolute;
  width: 70%;
  height: 10px;
  background-color: #4989dc;
  border-radius: 5px;
}
.skill .bar-line .one {
  width: 90%;
}
.skill .bar-line .two {
  width: 80%;
}
.skill .bar-line .three {
  width: 65%;
}

.skill .bar-line .four {
  width: 50%;
  background-color: #3f3f3f;
}
.skill .bar-line .five {
  width: 90%;
  background-color: #3f3f3f;
}

.skill .bar-line .six {
  width: 30%;
  background-color: #3f3f3f;
}

.content {
  padding: 2rem;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.form label {
  margin-top: 10px;
}
.form input {
  width: 70%;
  padding: 10px;
}
.form textarea {
  width: 70%;
  padding: 10px;
}
.btn-submit {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 10%;
  background-color: #4989dc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
